html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.app-layout__content {
  flex: 1;
  background-color: #f2f2f2;
}